<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoScrollOutput</key>
	<true/>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

# this command calls xcodebuild giving the name of the project
# directory as the project to build and parses the output for
# file/line information then plays a succes/failure sample
# based on the final outcome
#
# if the build succeeds, it will run the target

XCODE_PROJECT_FILE=$(ruby18 -- "${TM_BUNDLE_SUPPORT}/bin/find_xcode_project.rb")
export XCODE_PROJECT_FILE

export XCODE_RUN_BUILD=1
"${TM_BUNDLE_SUPPORT}/bin/run_xcodebuild.sh"

#&amp;&amp; "${TM_BUNDLE_SUPPORT}/bin/run_xcode_target.rb" -project_dir="$XCODE_PROJECT_FILE"
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Build &amp; Run</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>semanticClass</key>
	<string>process.build-and-run.xcode</string>
	<key>uuid</key>
	<string>B0254A99-7750-4A06-937A-9A453ECE3A6C</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
